@font-face {
  font-family: 'FS Stencil';
  src: url('HM-Future-State-Stencil.otf');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.FS-Stencil {
  font-family: 'FS Stencil';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
